.produtos {
  background: #2f0e3b;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}

.produtos__titulo {
  max-width: 1400px;
  margin: 0 auto 60px;
  padding: 0 20px;
  color: #fff;
}

.produtos__container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  height: 500px;
  overflow-x: auto;
  scroll-behavior: smooth;
  z-index: 1;
  position: relative;
}

.produtos__container::-webkit-scrollbar {
  display: none;
}

.produto__card {
  flex: 0 0 auto;
  width: 300px;
  height: 400px;
  margin-right: 20px;
}

.produto__card-imagem {
  position: relative;
  width: 100%;
  height: 400px;
}

.produto__card-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.produto__card-info {
  width: 100%;
  padding-top: 10px;
}

.produto__card-nome {
  text-transform: uppercase;
  color: #fff;
}

.produtos__botao-prev,
.produtos__botao-next {
  border: none;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #2f0e3b 100%);
  cursor: pointer;
  z-index: 10;
  pointer-events: all;
}

.produtos__botao-prev {
  left: 0;
  transform: rotate(180deg);
}

.produtos__botao-next {
  right: 0;
}

.produtos__botao-prev img,
.produtos__botao-next img {
  opacity: 0.5;
  width: 30px;
}

.produtos__botao-prev:hover img,
.produtos__botao-next:hover img {
  opacity: 1;
}

@media (max-width: 768px) {
  .produtos {
    padding: 60px 0;
  }

  .produtos__titulo {
    padding: 0 20px;
    margin-bottom: 30px;
  }

  .produtos__container {
    padding: 0 20px;
    height: auto;
  }

  .produto__card {
    width: 220px;
    height: auto;
  }

  .produto__card-imagem {
    height: 280px;
  }

  .produtos__botao-prev,
  .produtos__botao-next {
    width: 40px;
  }
}
