.profissionais {
  background: var(--cor-2);
}

.profissionais__container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 100px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.profissional__card {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profissional__card-imagem {
  border-radius: 4px;
  object-fit: cover;
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  display: block;
}

.profissional__card-redes {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 25px;
}

.profissional__card-redes img {
  width: 20px;
  height: 20px;
}

@media (max-width: 1024px) {
  .profissionais__container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .profissionais__container {
    grid-template-columns: 1fr 1fr;
    padding: 60px 16px;
    gap: 20px;
  }

  .profissional__card-imagem {
    width: 100%;
    height: 160px;
    margin-bottom: 16px;
  }
}
